@page
@model SermonsModel
@{
    ViewData["Title"] = "Sermons";
}

@section banner  {
    <div class="section no-pad-bot banner banner-flex" id="sermon-banner">
        <div class="container grey-text text-lighten-2">
            <div class="row">
                <div class="col l12">
                    <h3 class="center white-text">Harrison Seventh-day Adventist Church Sermons</h3>
                </div>
            </div>
        </div>
    </div>
}

<div class="container">
    <div class="row">
        <div class="col s12 l9">
            <div class="live-stream">
                <h3 class="lime-text text-darken-4">Live Stream</h3>
                <p>
                    <strong>
                        Join us every Sabbath at 11:00 AM EST.
                    </strong>
                </p>
                <p>
                    <div class="container-iframe">
                        <iframe class="responsive-iframe" src="@Model.YouTubeEmdedLiveSteam"
                                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                        </iframe>
                    </div>
                    <span>Youtube.com <a href="@Model.YouTubeDirectLiveSteam" target="_blank">Live stream direct link</a></span>
                </p>
            </div>
            <hr />
            <h4 class="lime-text text-darken-4">Online Sermons</h4>
            <p>To view previous sermons visit our YouTube channel: <a href="@Model.YouTubeChannel" target="_blank">Harrison SDA Church TN</a></p>

            @*<p>
                <header>
                    <h5><strong>Ticking Time Bomb</strong></h5>
                    <span style="font-size:1.1rem;line-height:100%">Pastor Sergio Freeman | 5/1/20201</span>
                </header>
                <div class="container-iframe">
                    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/bCo_B5z_NgA"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
            </p>
            <p>
                <header>
                    <h5><strong>The Masquerade</strong></h5>
                    <span style="font-size:1.1rem;line-height:100%">Chaplain Rayner Edwards | 4/24/20201</span>
                </header>
                <div class="container-iframe">
                    <iframe class="responsive-iframe" src="https://www.youtube.com/embed/7fv0kSo7ncQ"
                            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen>
                    </iframe>
                </div>
            </p>*@


            @*<p>
        To listen to a online sermon click the play arrow below the sermon name.
        </p>
        @foreach (var sermon in Model.Sermons)
        {
            <header>
                <h5><strong>@sermon.Title</strong></h5>
                <span style="font-size:1.1rem;line-height:100%">@sermon.Presenter | @sermon.Date</span>
            </header>
            <audio controls>
                <source src="@Request.Scheme://@Request.Host@sermon.File" type="audio/mpeg" />
                Your browser does not support this audio format.
            </audio>
            <br />
        }*@
        </div>
            <partial name="_SideNavPartial" />
        </div>
</div>